*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.produtos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 476px;
    border: 1px solid #222;
    box-shadow: 4PX 4PX 10PX #00000029;

    
    & .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
         
        & .title {
            & h2 {
                margin-bottom: 26px;
            }
           
        }

      & .btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        & p {
            color: #21A9FB;
            font-weight: bold;
            font-size: 18px;
        }

        & button {
            padding: 14px;
            border-radius: 100px;
            border: none;
            background: linear-gradient(to right,
            #138CFF, #16137468);
            color: #fff;
            font-weight: 700;
        }

        & .freitght {
            display: flex;
            gap: 10px;
        }

        & p {
            font-size: 12px;
            color: #9A9A9A;
        }

        & i {
            color: #9A9A9A;
        }

        
      }  
    }
}